.public-view {
    width: 89%;
    max-width: 833px;
    margin: auto;

    .public-transaction-button {
        color: #fff;
        min-width: 230px !important;
        max-width: 450px;
        margin: auto;
        margin-bottom: 5px;
    }

    .cus-bg-color {
        background-color: #5f12688a;
    }

    .public-card {
        position: relative;
        z-index: 2;

        @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
            background: rgba(36, 39, 41, 0.1);
            backdrop-filter: blur(40px);
        }

        /* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
        @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
            background: #181B1C;
        }

        border-radius: 10px;
        padding: 20px;
        width: 100%;

        .public-card-grid {
            margin: 0;
            width: 100%;
        }

        .public-card-header {
            .public-card-header-title {
                font-weight: bold;
                font-size: 20px;
                color: #FFFFFF;
                margin-bottom: 4px;
            }

            .public-card-header-subtitle {
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 15px;
                color: #FFFFFF;
            }
        }

        .public-card-metrics {
            display: flex;
            width: 100%;
            padding: 0;
            text-align: center;
            margin-top: 10px;

            .public-card-apy,
            .public-card-tvl,
            .public-card-index {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;

                .public-card-metrics-title {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    color: rgba(255, 255, 255, 0.6);
                    margin-bottom: 2px;
                }

                .public-card-metrics-value {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 29px;
                    color: #FFFFFF;
                }
            }
        }

        .public-card-area {
            .public-card-wallet-notification {
                text-align: center;

                .public-card-wallet-connect-btn {
                    background: rgba(255, 255, 255, 0.2);
                    box-shadow: 0px 0px 10px rgba(44, 39, 109, 0.1);
                    border-radius: 10px;
                    padding: 14px 58px;
                    cursor: pointer;
                    margin: auto;
                    max-width: 280px;
                    margin-top: 20px;

                    p {
                        font-weight: 600;
                        font-size: 18px;
                        color: #FFFFFF;
                    }
                }

                .public-card-wallet-desc-text {
                    font-weight: 300;
                    font-size: 14px;
                    color: rgba(255, 255, 255, 0.6);
                    margin-top: 10px;
                    margin-bottom: 6px;
                }
            }

            .public-card-action-area {
                width: 100%;
                margin-top: 25px;

                .public-card-action-area-inp-wrap {
                    .public-card-action-area-inp-wrap-title {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        color: #FFFFFF;
                        margin-bottom: 5px;
                        margin-left: 10px;
                    }

                    .public-card-action-input {
                        width: 100%;
                        border-radius: 10px;
                        outline: none;

                        .MuiOutlinedInput-input {
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                            padding: 14px 20px;
                        }

                        .stake-card-action-input-btn {
                            cursor: pointer;

                            p {
                                font-weight: 600;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }

            .public-days-slider-wrap {
                margin-top: 30px;

                .public-days-slider-wrap-title {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    color: #FFFFFF;
                    margin-bottom: 10px;
                }

                .public-days-slider {

                    .MuiSlider-rail,
                    .MuiSlider-track {
                        height: 10px;
                    }

                    .MuiSlider-rail {
                        background: #6b6a6a;
                        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
                        border-radius: 10px;
                    }

                    .MuiSlider-track {
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                        background: linear-gradient(90deg, #29427a 0%, #004ffe 90%);
                        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
                    }

                    .MuiSlider-thumb {
                        width: 20px;
                        height: 20px;
                        background: #161515;
                        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
                        border: 3px solid #004ffe;
                    }
                }
            }

            .public-user-data {
                justify-content: center;
                margin: auto;
                padding: 0 5px;
                margin-top: 30px;
            }
        }
    }
}

@media screen and (max-width: 420px) {
    .token-icon {
        display: none;
    }
}

@media screen and (max-width: 600px) {

    .public-view {
        .public-card {
            .public-card-metrics {

                .public-card-apy,
                .public-card-tvl,
                .public-card-index {
                    align-items: flex-start;
                }

                .public-card {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }

            .public-card-area {
                .public-card-action-area {
                    .public-card-action-row {
                        flex-direction: column;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1240px) {
    .public-view {
        width: 100%;
    }
}